:root {
    font-family: 'Victor Mono', monospace;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

/* .game {
    width: 100vw;
    height: 100vh;
    background: url('../img/background.png') no-repeat center;
    background-size: cover;
    position: fixed;
    overflow: hidden;
} */

.game {
    width: 100vw;
    height: 100vh;
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 45, 148, 1) 100%);

}