:root {
    font-family: 'Victor Mono', monospace;
    --color-white: #FFF;
    --color-black: #000;
}

/* apply a natural box layout model to all elements, but allowing components to change */
html {
    box-sizing: border-box;

}

*,
*:before,
*:after {
    box-sizing: inherit;
    margin: 0px;
    padding: 0px;
}



.game {
    height: 100vh;
    background: linear-gradient(90deg, rgba(34, 193, 195, 1) 0%, rgba(253, 45, 148, 1) 100%);
    display: flex;
    justify-content: center;
    gap: 1rem;
}

.actions {
    width: 300px;
    height: 850px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50px;
    margin: auto 0;
}

.actions--p {
    text-align: left;
    width: 75%;
    font-weight: 700;
    display: block;
    color: var(--color-white);
    margin: 5px auto;
    padding: 0.5rem 1rem;
    animation: fadeout 1.5s ease-out forwards;
    animation-delay: 2s;
}

@keyframes fadeout {
    from {
        transform: translate(0, 0);
        opacity: 1;
    }

    to {
        transform: translate(100%, 0);
        opacity: 0;
    }
}



.board {
    width: 950px;
    height: 850px;
    background-color: rgba(0, 0, 0, .3);
    border-radius: 50px;
    margin: auto 0;
}

.board__title {
    color: var(--color-white);
    text-align: center;
    font-weight: 700;
}

.board__score {
    width: 100%;
    display: flex;
    justify-content: space-around;

    .score {
        color: var(--color-white);
        text-align: center;
        font-size: 2rem;
    }

    .score__number {
        font-size: 100px;
        font-weight: 700;
        margin-top: 50px;
    }

    .score__name {
        font-size: 1.5rem;
        margin-top: 15px;
    }

}

.board__icons {
    display: grid;
    width: 75%;
    margin: auto;
    grid-template-columns: repeat(3, 1fr);
    margin-top: 100px;
    justify-items: center;

    .icons {
        cursor: pointer;
    }
}

.board__messages {
    margin-top: 100px;
    color: var(--color-white);
    font-weight: 700;
    text-align: center;
    padding: 1rem;
}

.board__reset {
    display: flex;
    width: 100%;
    margin: auto;
    justify-content: center;
    align-items: center;
}

.board__reset--button {
    margin: auto;
    width: 50%;
    background-color: orange;
    border-radius: 10px;
    padding: 1rem;
    font-weight: 700;
    font-size: 1rem;
    cursor: pointer;
}

.board__reset--button:hover {
    background-color: rgb(248, 184, 64);

}